<div class="add-product">
  <div class="form-header">

    <button
      type="button"
      class="back-button"
      (click)="goToProducts()"
    >
      ← Back to Products
    </button>

    <!-- <h1>Add Product</h1> -->

  </div>

  <h1>Add Product</h1>

  <form (ngSubmit)="addProduct()">

    <div class="form-group">
      <label>Product Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="product.name"
        required
      />
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea
        name="description"
        [(ngModel)]="product.description"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label>Price</label>
      <input
        type="number"
        name="price"
        [(ngModel)]="product.price"
        required
      />
    </div>

    <div class="form-group">
      <label>SKU</label>
      <input
        type="text"
        name="sku"
        [(ngModel)]="product.sku"
        required
      />
    </div>

    <div class="form-group">
      <label>Category</label>
      <input
        type="text"
        name="category"
        [(ngModel)]="product.category"
        required
      />
    </div>

    <div class="form-group">
      <label>Image Path</label>
      <input
        type="text"
        name="image_url"
        [(ngModel)]="product.image_url"
        placeholder="/images/image.jpg"
      />
    </div>

    <div class="form-group">
      <label>Rating</label>
      <input
        type="number"
        name="rating"
        [(ngModel)]="product.rating"
        min="0"
        max="5"
        step="0.1"
      />
    </div>

    <div class="form-group">
      <label>Stock Quantity</label>
      <input
        type="number"
        name="stock_quantity"
        [(ngModel)]="product.stock_quantity"
        min="0"
        required
      />
    </div>

    <button type="submit">
      Add Product
    </button>

  </form>

</div>