<div class="cart-page">

  <div class="cart-header">

    <h1>Shopping Cart</h1>
    
    <button
      class="continue-shopping-button"
      (click)="goToProducts()">
      ← Continue Shopping
    </button>

  </div>


  <p *ngIf="loading">
    Loading cart...
  </p>


  <div
    *ngIf="!loading && cart && cart.items.length === 0"
  >
    <h2>Your cart is empty</h2>
  </div>


  <div
    *ngIf="!loading && cart && cart.items.length > 0"
  >

    <div
      class="cart-item"
      *ngFor="let item of cart.items"
    >

      <div class="product-info">

        <img
          *ngIf="item.image_url"
          [src]="item.image_url"
          [alt]="item.name"
        />

        <div>
          <h2>{{ item.name }}</h2>

          <p>
            Price: ₹{{ item.price }}
          </p>


          <div class="quantity-controls">

            <span>Quantity:</span>

            <button
              (click)="decreaseQuantity(item)"
              [disabled]="item.quantity <= 1">
              -
            </button>

            <span>
              {{ item.quantity }}
            </span>

            <button
              (click)="increaseQuantity(item)">
              +
          </button>

        </div>
          <!-- <p>
            Quantity: {{ item.quantity }}
          </p> -->

          <p>
            Subtotal: ₹{{ item.subtotal }}
          </p>
          <button
            class="remove-button"
            (click)="removeItem(item)">
            Remove
          </button>
        </div>

      </div>

    </div>


    <div class="cart-total">

      <h2>
        Total: ₹{{ cart.total }}
      </h2>

    </div>
    <button
      class="checkout-button"
      (click)="checkout()"
      [disabled]="checkingOut"
    >
      {{ checkingOut
          ? 'Placing Order...'
          : 'Proceed to Checkout'
      }}
    </button>

  </div>

</div>